name = "Aeon"
uuid = "09fe5dcb-7d15-4293-8013-91ee4820df8b"
authors = ["lukazmm <lukas.m.mesicek@gmail.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
